[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pyaudioanalysis = "==0.2.5"
numpy = "*"
scipy = "*"
matplotlib = "*"
"eyed3" = "*"
pydub = "*"
ffmpeg-python = "*"
opencv-python = "*"
pysound = "*"
behavioral-signals-cli = "*"
to = "*"
simplejson = "*"
python-magic = "*"
hmmlearn = "*"
scikit-learn = "==0.19.2"
pyaudio = "*"
wtforms = "*"
flask-wtf = "*"
python-magic-bin = "==0.4.14"
flask-pymongo = "*"
okta = "==0.0.4"
flask-oidc = "*"
imutils = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
