[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
sklearn = "*"
hmmlearn = "*"
simplejson = "*"
"eyed3" = "*"
pydub = "*"
pyaudioanalysis = "==0.2.4"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
