<!DOCTYPE html>
<html lang="en">
<head>



    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
{#    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">#}
    {% block head %}
        {% if title %}
            <title>Detecting Human Emotion | {{ title }}</title>
        {% endif %}
        {% include "universal_imports.html" %}
    {% endblock %}
</head>
<body>


<main>
    <div>
        {% block header %}
            {% include "navbar.html" %}
        {% endblock %}
    </div>

    <div>
        {% block content %}{% endblock %}
    </div>
    <div>
        {% block footer %}
            {% include "footer.html" %}
        {% endblock %}
    </div>
</main>

<div style="text-align: center" >
    <p >
    About us:
</p>
<p>
    We detect human emotion
</p>

</div>

</body>


<style>
    body{
        background-color: orange;
    }
</style>
</html>