{% block head %}
<div class="w3-top">
<div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="/home" class="w3-bar-item w3-button"><b>Detecting</b> Human Emotion</a>
    <div class="w3-right w3-hide-small">
    <nav class="my-2 my-md-0 mr-md-3">
{#        <a class="p-2 text-dark" href="/" title="Home">Home</a>#}
        {% if not g.user %}
            <a href="/login" class="w3-bar-item w3-button">Log In / Register</a>
        {% else %}
{#            <a class="p-2 text-dark" href="/detecting">Deception Detection</a>#}
            <a href="/home" class="w3-bar-item w3-button">Home</a>
            <a href="/upload" class="w3-bar-item w3-button">Upload</a>
            <a href="/logout" class="w3-bar-item w3-button">Logout</a>


        {% endif %}
    </nav>
    </div>
</div>
</div>

{% endblock %}
