{% block head %}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Detecting Human Emotion</h5>
    <nav class="my-2 my-md-0 mr-md-3">
{#        <a class="p-2 text-dark" href="/" title="Home">Home</a>#}
        {% if not g.user %}
            <a class="p-2 text-dark" href="/login">Log In / Register</a>
        {% else %}
{#            <a class="p-2 text-dark" href="/detecting">Deception Detection</a>#}
            <a class="p-2 text-dark" href="/upload">Upload</a>
            <a class="p-2 text-dark" href="/logout">Logout</a>


        {% endif %}
    </nav>
</div>
{% endblock %}