{% extends "base.html" %}
{% block content %}
{#    Need this for bootstrap#}
<style xmlns="http://www.w3.org/1999/html"></style>
<style>
/*<!--* {-->*/
/*<!--margin: 0;-->*/
/*<!--padding: 0;-->*/
/*!*<!--}-->*!*/
body {
    background-color: orange;
}
.question {
    border-style: solid;
    border-color: blue;
    width: 300px;
    height: 200px;
    padding: 25px;
}
.nextButton {
    <!--position: relative;-->
    <!--top: 3px;-->
    <!--left: 135px;-->
    <!--position: relative;-->
    <!--top: 3px;-->
    <!--right: 135px;-->
    color: #666666;
    background-color: #f9f9f9;
}
.nextButton, .nextButton.active {
    color: #666666;
    background-color: #f9f9f9;
}
.startButton {
    position: relative;
    <!--top: 3px;-->
    <!--right: 135px;-->
    color: #666666;
    background-color: #f9f9f9;
}
.startButton, .startButton.active {
    color: #666666;
    background-color: #f9f9f9;
}
</style>
    <!--<link rel="stylesheet" href="{{ url_for('static',filename='css/questionnaire.css') }}">-->
    <!--<script src="{{ url_for('static',filename='js/questionnaire.js') }}"></script>-->
    {% from "form_macros.html" import render_question %}


    <body>

    <div id="numberofquestionsleft">text
        </br>
        text
    </div>



    <div class="" style="text-align:center">
        <center>

            {{ render_question() }}
            {#        <center><div align="left" class="question">#}
            {#            <p>Questions:</p>#}
            {#            <div id ="begin">Press start to begin</div>#}
            {#        </div>#}


            <button onclick="startQuestion()" type="button" class = "startButton"id="StartButton">Start</button>
            <button type="button" onclick="nextQuestion()" class="nextButton" id="NextButton">Next</button>
            <!--<button type="button" class="stopButton" onclick="stop()" value="">Stop </button>-->
        </center>
    </div>

    <div class="container">
        <h1 id="timerLabel">00:00:00</h1>
        <!-- <button type="button" class="myButton" onclick="stop()">Stop</button>
         <button type="button" class="myButton" onclick="reset()">Reset</button> -->
    </div>


    <script>
        var question = {{data|tojson}};
        var array = question.split("\n");
        var counter = 0;
        var size = array.length;
        console.log(question);
        console.log("printing the time");
        console.log(time);
        function startQuestion() {
           <!--document.getElementById("numberofquestionsleft").innerHTML = "Number of questions left: " + counter + 1 + "/" + size;;-->
            <!--"Number of questions left:"  need to make a new line. text at the top next line is questions 1/18+-->
            reset();
                document.getElementById("begin").innerHTML = array[counter++];
                document.getElementById("numberofquestionsleft").innerHTML = "Number of questions: <br>" + counter + "/" + size;
                document.getElementById("StartButton").style.visibility = "hidden";
                document.getElementById("NextButton").style.visibility = "visible";
                start();
        }
        function nextQuestion() {
        if (counter === size) {
                document.getElementById("numberofquestionsleft").innerHTML = "Number of questions: <br>" + counter + "/" + size;
                document.getElementById("begin").innerHTML = "You are done!";
                document.getElementById("StartButton").style.visibility = "hidden";
                document.getElementById("NextButton").style.visibility = "hidden";
                reset();
            }
            else {
            document.getElementById("begin").innerHTML = "Press start to begin the next question";
            stop();
            console.log(time);
            document.getElementById("NextButton").style.visibility = "hidden";
            document.getElementById("StartButton").style.visibility = "visible";
}
        }
        var status = 0; // 0:stop 1:running
        var time = 0.0;
        var timerLabel = document.getElementById('timerLabel');
        function start() {
            status = 1;
            timer();
        }
        function stop() {
            status = 0;
            var savedTime = time; //saved time is off by one here
            console.log(savedTime);
        }
        function reset() {
            status = 0;
            time = 0;
            timerLabel.innerHTML = '00:00:00';
        }
        function timer() {
            if (status == 1) {
                setTimeout(function () {
                    time++;
                    var min = Math.floor(time / 100 / 60);
                    var sec = Math.floor(time / 100);
                    var mSec = time % 100;
                    if (min < 10) min = "0" + min;
                    if (sec >= 60) sec = sec % 60;
                    if (sec < 10) sec = "0" + sec;
                    if (mSec < 10) mSec = "0" + mSec;
                    timerLabel.innerHTML = min + ":" + sec + ":" + mSec;
                    timer();
                }, 10);


            }
        }
        document.onkeydown = function (event) {
            if (event) {
                if (event.keyCode == 32 || event.which == 32) {
                    if (status == 1) {
                        stop();
                    } else if (status == 0) {
                        start();
                    }
                }
            }
        };
    </script>
    </body>
{% endblock content %}