{% extends "base.html" %}
{% block content %}
    <style xmlns="http://www.w3.org/1999/html"></style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {#   <center> <p >{{ prompt }}</p></center>#}


{# <hr>#}
{#<video id="my-preview" controls autoplay></video>#}
{#<script src="https://cdn.webrtc-experiment.com/RecordRTC.js"></script>#}
{#<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>#}


    <p >{{ prompt }}</p>
    <!-- Button -->
    <form action="" method="post">
        <div class="form-group">
            <label class="col-md-4 control-label" for="startButton"></label>
            <div class="col-md-4">
                <button  id="startButton" name="startButton" class="btn btn-primary">Start</button>
                {#                <div style="display:flex;justify-content:center;align-items:center;">Text Content</div>#}

            </div>
        </div>
    </form>

{#  <div id="action-buttons">#}
{#    <button id="btn-start-recording">Start Recording</button>#}
{#    <button id="btn-stop-recording" disabled="disabled">Stop Recording</button>#}
{#    <a id="downloadButton" class="button">Download</a>#}
{#    </div>#}
{##}
{##}

{#    <script>#}
{#        var video = document.getElementById('my-preview');#}
{#    var recorder;#}
{#    let downloadButton = document.getElementById("downloadButton");#}
{##}
{##}
{#    // When the user clicks on start video recording#}
{#    document.getElementById('startButton').addEventListener("click", function(){#}
{#        // Disable start recording button#}
{#        this.disabled = true;#}
{##}
{#        // Request access to the media devices#}
{#        navigator.mediaDevices.getUserMedia({#}
{#            audio: true,#}
{#            video: true#}
{#        }).then(function(stream) {#}
{#            // Display a live preview on the video element of the page#}
{#            setSrcObject(stream, video);#}
{##}
{#            // Start to display the preview on the video element#}
{#            // and mute the video to disable the echo issue !#}
{#            video.play();#}
{#            video.muted = false;#}
{##}
{#            // Initialize the recorder#}
{#            recorder = new RecordRTCPromisesHandler(stream, {#}
{#                mimeType: 'video/webm',#}
{#                bitsPerSecond: 128000#}
{#            });#}
{##}
{#            // Start recording the video#}
{#            recorder.startRecording().then(function() {#}
{#                console.info('Recording video ...');#}
{#            }).catch(function(error) {#}
{#                console.error('Cannot start video recording: ', error);#}
{#            });#}
{##}
{#            // release stream on stopRecording#}
{#            recorder.stream = stream;#}
{##}
{#            // Enable stop recording button#}
{#            document.getElementById('btn-stop-recording').disabled = false;#}
{#        }).catch(function(error) {#}
{#            console.error("Cannot access media devices: ", error);#}
{#        });#}
{#    }, false);#}
{##}
{#    // When the user clicks on Stop video recording#}
{#    document.getElementById('btn-stop-recording').addEventListener("click", function(){#}
{#        this.disabled = true;#}
{##}
{#        recorder.stopRecording().then(function() {#}
{#            console.info('stopRecording success');#}
{##}
{##}
{##}
{#            // let recordedBlob = new Blob(recordedChunks, { type: "video/webm" });#}
{#            //  recording.src = URL.createObjectURL(recordedBlob);#}
{#            // downloadButton.href = recording.src;#}
{#            // downloadButton.download = "RecordedVideo.webm";#}
{##}
{#            // log("Successfully recorded " + recordedBlob.size + " bytes of " +#}
{#            //   recordedBlob.type + " media.");#}
{#            // })#}
{##}
{#            // Retrieve recorded video as blob and display in the preview element#}
{#             var blob = recorder.getBlob();#}
{#            video.src = URL.createObjectURL(blob);#}
{#            video.play();#}
{#            downloadButton.href = video.src;#}
{#            downloadButton.download = "RecordedVideo.webm";#}
{#            // video.play();#}
{##}
{#            // Unmute video on preview#}
{#            video.muted = false;#}
{##}
{#            // Stop the device streaming#}
{#            recorder.stream.stop();#}
{##}
{#            // Enable record button again !#}
{#            document.getElementById('btn-start-recording').disabled = false;#}
{#        }).catch(function(error) {#}
{#            console.error('stopRecording failure', error);#}
{#        });#}
{#      }, false);#}




    {#</script>#}

    <style>
        #startButton{

            margin  : 5px auto;
            display : block;
        }

        body {
            background-color: orange;
        }
        p{
            border-style: solid;
            border-color: blue;
            width: 300px;
            height: 200px;
            padding: 25px;
            margin-left: auto;
            margin-right: auto;

        }
        button{
            text-align: center;
        }

    </style>
{% endblock content %}